* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --main-theme: rgba(14, 43, 14, 0.996);
  --secondary-theme: rgb(60, 60, 140);
  --nav-hover: rgb(255, 203, 107);
}

body {
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navigation */
.hamburger-menu {
  width: 100vw;
  height: 1.5rem;
  background-color: var(--secondary-theme);
  color: white;
  border: none;
}
.nav-items {
  display: none;
  list-style: none;
}
.nav-icon {
  margin-left: 15px;

  color: orange;
}

.nav-toggle .nav-items {
  background-color: var(--secondary-theme);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: 15rem;
  align-items: center;
}
.nav-text {
  color: white;
  font-size: 15px;
}

.hero {
  margin-top: 50px;

  background-color: var(--main-theme);
  flex-wrap: wrap;
  font-family: "Carter One", cursive;
}
.hero h2,
h1 {
  margin: 10px 10px 5px 10px;
  text-align: center;
  line-height: 95%;
  font-size: 2rem;
  background-image: url(https://cdn.pixabay.com/photo/2020/03/13/11/09/british-landscape-4927649_960_720.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hero h1 {
  font-size: 10rem;
}

/* main-info */
.info-section {
  background-color: var(--main-theme);
  margin-top: 3rem;
  padding: 5px;
}
.info-section-title {
  color: white;
  text-align: center;
  padding: 1rem;
}

.info-section-img {
  width: 100%;
  height: 180px;
}
.img-slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 94%;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 10px 10px;
}
.scroll-snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
}
.scroll-snap > * {
  scroll-snap-align: start;
}
.img-element {
  padding: 10px;
  background: white;
  border-radius: 5px;
}
/* main-weather */
.weather-section {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}
.weather-section h1 {
  margin-bottom: 2rem;
  color: white;
}

.weather-input {
  height: 2rem;
  margin: 2rem 0 2rem 2rem;
  border-radius: 1rem;
}
.weather-input-btn {
  height: 2rem;
  border-radius: 1rem;
  width: 2rem;
  color: var(--main-theme);
  background-color: var(--nav-hover);
}

/* main-club */
.club-section {
  background-color: var(--secondary-theme);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.club-section h1 {
  color: white;
  margin-bottom: 2rem;
}
.club-section p {
  color: white;
  margin-bottom: 2rem;
}
.form {
  color: white;
  padding: 2rem;

  display: block;
  border: 2px solid white;
  border-radius: 15px;
  transition: 1s border ease-in;
}
.form label {
  display: block;
}
.form div {
  margin-bottom: 1rem;
}
.display-error {
  color: red;
  font-weight: 600;
}
.form-submit-btn {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 1rem;
  width: 2rem;
  color: var(--main-theme);
  background-color: var(--nav-hover);
}
.form-error {
  border: 4px solid red;
}

/* footer */
.footer {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }
  .nav {
    position: sticky;
    top: 0;
    color: white;
    width: 4rem;
    height: 100vh;
    background-color: var(--secondary-theme);
    transition: width 500ms ease-out;
  }
  .nav-text {
    display: none;
    color: white;
    padding-left: 1rem;
  }
  .nav-icon {
    color: orange;
  }
  .nav-items {
    display: flex;
    flex-direction: column;

    align-items: center;
    list-style: none;
  }
  .nav-link {
    display: flex;
    align-items: center;
    height: 8rem;
    text-decoration: none;
  }
  .nav-link i {
    margin: 0 0.5rem;
  }
  .logo {
    transition: transform 300ms ease-in;
  }
  .logo-link {
    margin-bottom: 8rem;
  }
  .nav-icon:hover {
    color: var(--nav-hover);
  }
  .nav:hover {
    width: 12rem;
  }
  .nav:hover .nav-text {
    display: flex;
  }
  .nav:hover .logo {
    color: var(--nav-hover);
    transform: rotateY(180deg);
  }
  .hamburger-menu {
    display: none;
  }
  /* hero */

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 2fr 1.5fr 0.2fr;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .hero h2 {
    font-size: 2rem;
  }
  .hero h1 {
    font-size: 20rem;
  }

  /* weather */

  .weather-section {
    margin-bottom: 0px;
  }
  .weather-input-btn {
    background-color: orange;
  }
  .weather-input-btn:hover {
    background-color: var(--nav-hover);
  }

  /* info */

  .info-section-img {
    height: 500px;
  }
  .img-slider {
    grid-auto-columns: 64%;
  }
  ::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.7vw;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--nav-hover);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--secondary-theme);
  }

  /* club */
  .club-section {
    margin: 0px 50px 0px 50px;
    border-radius: 1rem;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-submit-btn {
    width: 7rem;
    margin-left: 7rem;

    border-radius: 0px;
    color: var(--main-theme);
    background-color: orange;
  }
  .form-submit-btn:hover {
    background-color: var(--nav-hover);
  }
}

/* footer */
